:root{
    --bordes-colores: 3px solid black;
    --color-principal: blue;

}


*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: var(--color-principal);
    border: var(--bordes-colores);
}
.btn{

    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(9, 32, 32);
    color: rgb(206, 197, 181);
    text-decoration: none;
}

.parrafo{
    color: var(--color-principal);
}