*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}
.hero{
    background-image: linear-gradient(120deg, #a6c0fe 0%,
     #f68084 100%);
    height: 100vh;
    min-height: 650px;
}

.hero-container{
    display: flex;
}

.hero-img{
    width: 100%;
}